.box-form {
    margin-top : 100px;
    margin-bottom : 50px;
    margin-left : 250px;
    margin-right : 50px;
    height :70%;
    width: 70%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px #EAECEE   ;
    justify-items: left;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
  }
